#container{
        background-color: rgb(251, 252, 250);
        height: 50px;
        width: 100%;
        margin: auto;
        color: green;
    }
h1{
    margin-left:5%;
}
span{
    float: left;
    margin-left: 5px;
    font-size: 30px;
    padding: 8px 25px ;
    font-family:timesnewroman;
    color: rgb(2, 243, 111);
}
b{
    font-size: 20px;
    margin-right: 250px;
    float: right!important;
    padding: 6px;
}

button1 {
    border: 1px solid green; 
    color: rgb(5, 5, 5); 
    margin-right: 250px;
    float: right;
 }


#header{
    background-color:grey;
    height: 50px;
    width: 100%;
}
#header ul{
float: left;
margin-left: -364px;

}
#header ul li{
    display: inline;
    margin-left: 50px;
    text-align:left;
    padding: 5px 0px 5px 10px ;
}  
li select{
    background-color: gray;
    font-size: 15px;
    color: rgb(0, 0, 0);
    border: none;
    font-style: 15px;
}
