.head1{
    color: green;
    font-size: 30px;
    font-family: 'Times New Roman';
    margin-left: 40px;
    font-family:fantasy;
}
button {
    padding: 7px 28px;
    margin-right: 20px;
    margin-top: 17px;
    float: right;
    text-decoration: none;
    border-radius: 5px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: bold;
    background-color: rgb(11, 243, 11);
}
button:hover {
    background-color: rgb(59, 10, 238);

}
.head2{
    float: right;
    margin-right: 35px;
    margin-top: 20px;
    color: rgb(0, 26, 255);
    font-size: 25px;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.menu-bar
{
  background-color: gray;
  text-align: center;
}
.menu-bar ul{
display: inline-flex;
list-style: none;
margin-left: -55px;
color: black;
}
.menu-bar ul li{
width: 95px;
padding: 15px;
margin-left: 10px;
margin-right: 10px;
}
.menu-bar ul i{
  width: 100px;
  padding:15px;
margin-left: -18px;
margin-right: -31px;
}
.menu-bar ul i:hover{
  background-color:green;
  border-radius: 5px;
}
.menu-bar ul li a{
  text-decoration: none;
  color: white;
}
.active, .menu-bar ul li:hover{
  background-color:green;
  border-radius: 5px;
}
.sub-menu{
  display: none;
}
.menu-bar ul li:hover .sub-menu{
  display: block;
  position: absolute;
  background-color: green;
  margin-top: 15px;
  margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu ul{
  display: block;
  margin: 10px;
  }
.dropdown {
    position: relative;
    display: inline-block;
}
.sidenav1 {
    height:632px;
    width: 188px;
    position: fixed;
    z-index: 1;
    top: 110px;
    left: 0px;
    background-color: gray;
    color: black;
    overflow-x: hidden;
    padding-top: 20px;
    overflow-y: scroll;
  }
  
  .sidenav1 a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #0a0a0a;
    display: block;
  }

  .sidenav1 a:hover
{
    color: #f8f0f0;
  }

  .sidenav2 a:hover
{
    color: #f8f0f0;
  }
.main{
    text-align: left;
    width: 80%;
    margin: 40px;
    margin-left: 217px;
    font-weight: bold;
    font-size: 20px;   
}

footer {
    text-align: center;
    padding: 3px;
    background-color:rgb(92, 92, 92);
    color: white;
  }

.main p {
    background-color: rgb(245, 242, 239);
    color: black;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }