
.button2:hover {
    background-color: rgb(10, 238, 40);
}
b{
    font-size: 30px;
}
.container2{
    margin-left: 25px;

}
.button3{
    margin-left: 50px;
}
.button3:hover {
    background-color: rgb(10, 238, 40);
}
#container{
  text-align: right;
  margin-right: 10px;
}
.container #email_error,
.container #password_error{
    margin-top: 5px;
    width: 300px;
    font-size: 15px;
    color: red;
    background-color: salmon;
    padding: 5px 8px;
    border-radius: 3px;
    border: 1px solid #EF9A9A;
    display: none;
}